<div class="color-row--col-1 swatch" style="background-color: {{cssObj.value}}">
  <div class="swatch-text">
    {{title}}
    <br>{{cssObj.Declaration}}
    <br>{{cssObj.originalValue}}
    <br>{{cssObj.value}}
  </div>
</div>
