<div class="color-row--col-1 swatch" style="background-color: {{colorData.value}}">
  <div class="swatch-text">
    {{title}}
    <br>{{colorData.Declaration}}
    <br>{{colorData.originalValue}}
    <br>{{colorData.value}}
  </div>
</div>
