<div class="swatch" style="background-color: {{colorData.value}}">
  <div class="swatch-block" title="{{colorData.value}}">&nbsp;</div>
  <div class="swatch-text">
    <div>{{title}}</div>
    <div><code>{{colorData.originalDeclaration}}</code></div>
    <div><code>{{colorData.originalValue}}</code></div>
  </div>
</div>
