{{#with (lookup annotations spec) }}
<div class="iux-row iux-row--gutter theme-spec--group" style="background-color: {{bodyBg.value}};">
  <div class="iux-row--col-lg-4">
    <h2 style="color: {{bodyColor.value}};">Background Colors</h2>
    {{> themeDetailsSpec title="Body Background" data=bodyBg altBg=bodyBgSecondary textColor=bodyColor.value }}
    {{> themeDetailsSpec title="Body Background (Secondary)" data=bodyBgSecondary textColor=bodyColor.value }}

    <h2 style="color: {{bodyColor.value}};">Status Colors</h2>
    {{> themeDetailsSpec title="Status Green" data=statusGreen textColor=bodyColor.value }}
    {{> themeDetailsSpec title="Status Orange" data=statusOrange textColor=bodyColor.value }}
    {{> themeDetailsSpec title="Status Yellow" data=statusYellow textColor=bodyColor.value }}
    {{> themeDetailsSpec title="Status Red" data=statusRed textColor=bodyColor.value }}
  </div>
  <div class="iux-row--col-lg-4">
    <h2 style="color: {{bodyColor.value}};">Buttons</h2>
    {{> themeDetailsSpec title="Default Button Background" data=btnDefaultBg textColor=bodyColor.value }}
    {{> themeDetailsSpec title="Default Button Text" data=btnDefaultColor textColor=bodyColor.value }}
    {{> themeDetailsSpec title="Default Button Hover Color" data=btnDefaultHover textColor=bodyColor.value }}
    {{> themeDetailsSpec title="Primary Button Background" data=btnPrimaryBg textColor=bodyColor.value }}
    {{> themeDetailsSpec title="Primary Button Text" data=btnPrimaryColor textColor=bodyColor.value }}
    {{> themeDetailsSpec title="Primary Button Hover Color" data=btnPrimaryHover textColor=bodyColor.value }}
  </div>
  <div class="iux-row--col-lg-4">
    <h2 style="color: {{bodyColor.value}};">Forms</h2>
    {{> themeDetailsSpec title="Input Field" data=inputBg border=inputBorderColor textColor=bodyColor.value }}
    {{> themeDetailsSpec title="Input Field (Hover)" data=inputBgHover border=inputBorderColorHover textColor=bodyColor.value }}
    {{> themeDetailsSpec title="Input Field (Focus)" data=inputBgFocus border=inputBorderColorFocus textColor=bodyColor.value }}
    {{> themeDetailsSpec title="Input Field (Disabled)" data=inputBgDisabled border=inputBorderColorDisabled textColor=bodyColor.value }}
  </div>
</div>
{{/with}}

{{#if showColors}}
  {{#with (lookup annotations spec) }}
    <div class="color-swatches">
      {{#each this}}
        {{#if this.isColor}}
          {{> colorSwatch colorData=this title=this.originalDeclaration}}
        {{/if}}
      {{/each}}
    </div>
  {{/with}}
{{/if}}
