<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="generator" content="pandoc" />
    <meta name="author" content="Hook & Loop">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{meta.title}} - Infor UX</title>

    <link rel="stylesheet" type="text/css" href="/dist/iux.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/documentation.min.css">
  </head>

  <body class="iux-container">

    <div class="visuallyhidden">
      {{icons}}
    </div>

    <header class="site-header">
      <a class="logo" routerlink="/" href="/">
        <img alt="" src="http://docs-site-staging.us-east-1.elasticbeanstalk.com/assets/logo.svg">
        <span>Infor UX</span>
      </a>
    </header>

    <main class="iux-row">
      <aside class="sidebar iux-row--col-sm-3 iux-row--col-md-3">
        <nav class="sidebar-nav">
          <ul>
            {{#each sitemap.sections}}
              <li class="sidebar-nav__group">
                <a href="" class="sidebar-nav__child-item">{{this.name}}</a>
                <ul>
                  {{#each this.pages}}
                    <li><a href="/{{slug}}.html" class="sidebar-nav__grandchild-item">{{this.name}}</a></li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>
        </nav>
      </aside>

      <div class="iux-row--col-sm-9 iux-row--col-md-9">
        {{#if meta.title}}
          <div id="$idprefix$header" class="hero">
            <h1>{{meta.title}}</h1>
            {{#if meta.demo }}
              <a href="{{meta.demo.local.path}}" title="Demo for {{meta.title}}">View Live Demo</a>
            {{/if}}
            {{#if meta.description}}
              <p class="page-description">{{meta.description}}</p>
            {{/if}}
          </div>
        {{/if}}

        <div class="use-site-styles">
          {{#if meta.specs}}
            {{#each meta.specs}}
              {{#if valueType}}
                {{> specValue annotations=../annotations title=title spec=spec}}
              {{else if themeType}}
                {{> themeDetails annotations=../annotations spec=name showColors=showColors}}
              {{else}}
                {{> specColor annotations=../annotations title=title spec=spec}}
              {{/if}}
            {{/each}}
          {{/if}}
          {{{ contents }}}
        </div>
      </div>

    </main>
  </body>
</html>
