<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="author" content="Hook & Loop">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{meta.title}} - Infor Design System Developer</title>
    <link rel="stylesheet" type="text/css" href="/dist/ids-reset.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/ids-web.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/site.css">
    <link rel="stylesheet" type="text/css" href="/assets/syntax-highlighting.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Source+Code+Pro" rel="stylesheet">
  </head>

  <body>

    <div class="ids-visuallyhidden">
      {{{inlineIcons}}}
    </div>

    <header class="site-header ids-container">
      <a class="logo" routerlink="/" href="/">
        <img alt="" src="/assets/logo.svg">
        <span>Infor Design System - <em>Developer Site: {{pkgJson.version}}</em></span>
      </a>
      using theme <em>{{currentTheme}}</em>
    </header>

    <main class="ids-row">
      <aside class="ids-row--col-sm-3">
        <ul class="ids-list ids-list--hover ids-container">
          {{#each sitemap.sections}}
            {{#if this.slug}}
              <li><a href="/{{slug}}.html" class="ids-list--item">{{this.name}}</a></li>
            {{else}}
            <li class="ids-list--heading">{{this.name}}</li>
            {{/if}}
              <ul class="ids-list">
                {{#each this.pages}}
                {{#if this.slug}}
                <li><a href="/{{slug}}.html" class="ids-list--item">{{this.name}}</a></li>
                {{else}}
                <li class="ids-list--heading">{{this.name}}</li>
                {{/if}}
                  {{#if this.pages}}
                    <ul class="ids-list">
                      {{#each this.pages}}
                        {{#if this.slug}}
                          <li><a href="/{{slug}}.html" class="ids-list--item">{{this.name}}</a></li>
                        {{else}}
                          <li class="ids-list--heading">{{this.name}}</li>
                        {{/if}}
                      {{/each}}
                    </ul>
                  {{/if}}
                {{/each}}
              </ul>
            </li>
          {{/each}}
        </ul>
      </aside>

      <div class="ids-row--col-sm-8">
        {{#if meta.title}}
          <div class="hero">
            <h1>{{meta.title}}</h1>
            {{#if meta.demo }}
              <a href="{{meta.demo.path}}" title="Demo for {{meta.title}}" target="_blank">View Live Demo</a>
            {{/if}}
            {{#if meta.description}}
              <p class="page-description">{{meta.description}}</p>
            {{/if}}
          </div>
        {{/if}}

        {{#if meta.tokensCategory}}
          <table>
            <thead>
              <th>Description</th>
              <th>Token</th>
              <th>Color</th>
              <th>Value</th>
            </thead>
            <tbody>
            {{#each (lookup designTokens meta.tokensCategory)}}
              <tr>
                <td>{{this.description}}</td>
                <td>
                  <code class="site-spec--code">{{name}}</code>
                </td>
                {{#equal this.type 'color'}}
                  <td>
                    <div class="site-spec--color" style="background-color: {{this.value}}" title="{{this.value}}"></div>
                  </td>
                  <td>
                    <code>{{this.originalValue}}</code>
                  </td>
                {{else}}
                  <td></td>
                  <td>
                    <code>{{this.value}}</code>
                  </td>
                {{/equal}}
              </tr>
            {{/each}}
            </tbody>
          </table>
        {{/if}}
        {{{ contents }}}
      </div>
    </main>
  </body>
</html>
