<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="generator" content="pandoc" />
    <meta name="author" content="Hook & Loop">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{meta.title}} - Infor UX</title>

    <link rel="stylesheet" type="text/css" href="/dist/iux.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/site.min.css">
  </head>

  <body>

    <div class="visuallyhidden">
      {{icons}}
    </div>

    <main class="site-main">

      <!-- Leave this below to mimic other doc sites -->

      <nav class="site-main--sidebar iux-container">
        <h2 class="site-sidebar--heading">Version {{pkgJson.version}}</h2>
        {{#each sitemap.sections}}
        <h2 class="site-sidebar--heading">{{this.name}}</h2>
        <ul class="list-plain site-sidebar--nav">
          {{#each this.pages}}
          <li><a href="/{{slug}}.html">{{this.name}}</a></li>
          {{/each}}
        </ul>
        {{/each}}
      </nav>

      <div class="site-main--content iux-container">
        {{#if meta.title}}
          <div id="$idprefix$header" class="hero">
            <h1 class="page-title">{{meta.title}}</h1>
            {{#if meta.description}}
              <p class="page-description">{{meta.description}}</p>
            {{/if}}
          </div>
        {{/if}}

        <div class="use-site-styles">
          {{#if meta.specs}}
            {{#each meta.specs}}
              {{#if valueType}}
                {{> specValue annotations=../annotations title=title spec=spec}}
              {{else if themeType}}
                {{> themeDetails annotations=../annotations spec=name showColors=showColors}}
              {{else}}
                {{> specColor annotations=../annotations title=title spec=spec}}
              {{/if}}
            {{/each}}
          {{/if}}
          {{{ contents }}}
        </div>
      </div>

    </main>
  </body>
</html>
